footer {
  color: white;
  display: flex;
  padding-top: 40px;
  font-size: 18px;
  background: linear-gradient(to bottom, #333333 0%, #555555 77%);
  color: #40f3e4;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 0;
  height: 25%;
  font-size: 20px;
  padding-top: 5px;
  margin-bottom: 3px;
  line-height: 25px;
  padding-bottom: 35px;
}

a {
  color: #40f3e4;
}
