.titles {
  display: flex;
  justify-content: space-around;
}

.titles #fore {
  margin-right: 250px;
}

.tapsaaf,
.tapsoan {
  height: 25em;
}

.forecast {
  margin-left: 30px;
}

.forecast,
image {
  display: flex;
  max-width: 100%;
  height: auto;
}

h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2em;
  font-weight: bolder;
  color: rgb(33, 37, 41);
  text-shadow: rgb(170, 170, 170) 0px 4px 10px;
}

h4 {
  color: chocolate;
}

.getyer {
  color: orangered;
  font-size: 35px;
  font-weight: 600;
  /* margin-left: 20px; */
  text-align: center;
}

.day {
  text-align: center;
}

.fore,
.forecast {
  display: none;
  text-align: center;
}

.dress {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
  text-align: center;
}

.fore {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
  height: auto;
  margin-right: 100px;
}

img {
  margin: 20px;
  object-fit: fill;
  width: 100%;
  height: 100%;
}
.taps {
  margin-top: -10px;
  font-size: 25px;
  text-align: center;
}

.days {
  max-width: 100%;
  margin-right: 20px;
}

.mapcast,
.days {
  display: flex;
  /* flex-wrap: wrap; */
  /* flex-wrap: nowrap; */
  /* justify-content: center; */
  justify-content: space-evenly;
  /* align-items: center; */
  align-items: stretch;
  align-content: center;
  max-height: 50%;
}

@media (min-width: 755px) {
  .fore,
  .forecast {
    display: inherit;
  }
  .getyer {
    margin-left: 20px;
  }
}

@media (max-width: 600px) {
  .getyer {
    font-size: 25px;
  }
  img {
    width: 70vw;
    height: 70vh;
  }
}
