header {
  display: flex;
  height: 5vh;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  text-shadow: rgb(170, 170, 170) 0px 4px 10px;
  padding: 25px;
}

/* will .overflow relate to iphone 6/7/8 only - create @media rule? Note there's some repetition of above - */
/* .overflow {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.onOff {
  color: rgb(245, 14, 14);
  padding-bottom: 20px;
  /* from below for rules re iphone 6 */
  /* width: 50vw; */
}

.taps {
  color: rgb(245, 14, 14);
  font-weight: bold;
  font-size: 100px;
  padding-bottom: 20px;
  padding-right: 20px;
  /* from below for rules re iphone 6 */
  /* width: 50vw; */
}

@media (max-width: 600px) {
  header,
  .taps {
    font-size: 20vw;
  }
}
