.schpeel {
  display: flex;
  flex-direction: column;
  font-family: serif;
  padding-top: 30px;
  font-style: italic;
  font-size: 1.4rem;
  color: rgb(26, 15, 15);
  line-height: 35px;
  margin-left: 20px;
}

.tapsaff {
  margin-top: 15px;
}

.currentweather {
  display: flex;
}

.cweather {
  margin-left: 2px;
}

.temperature {
  display: flex;
}

.numdeg {
  display: flex;
  margin-left: 2px;
}

b {
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  #tapsaff {
    display: flex;
    /* justify-content: flex-start; */
    /* max-width: 500px; */
    flex-wrap: wrap;
    display: inline-block;
    width: 100%;
  }
}
