footer {
  display: flex;
  font-size: 18px;
  background: linear-gradient(to bottom, #333333 0%, #555555 77%);
  color: #40f3e4;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
}

a {
  color: #40f3e4;
}
